@font-face {
  font-family: Product Sans;
  src: url("./font/Product\ Sans\ Regular.ttf") format("truetype");
}
@font-face {
  font-family: Product Sans B;
  src: url("./font/Product\ Sans\ Bold.ttf") format("truetype");
}
body {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 20px Montserrat, sans-serif;
  color: #333;
}
.about-content {
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  position: absolute;
  z-index: -1;
}
.block {
  display: none;
}
.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: white;
  vertical-align: middle;
  padding-bottom: 20%;
  padding-right: 20%;
}
.name {
  position: absolute;
  z-index: 0;
  font-family: Product Sans, Roboto, arial, sans-serif;
  color: rgba(0, 0, 0, 0);
  font-size: 40px;
  padding-bottom: 40px;
  animation: reveal 3s 3s forwards;
}
.about,
.contact {
  position: absolute;
  z-index: 0;
  font-family: Product Sans, Roboto, arial, sans-serif;
  animation: reveal 3s 5s forwards;
  color: rgba(0, 0, 0, 0);
  font-size: 15px;
  padding-top: 50%;
}
.contact {
  margin-left: 23%;
}
.button {
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .name {
    font-size: 25px;
  }
  .about,
  .contact {
    font-size: 10px;
  }
}
.square-flip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  background: black;
  transform-origin: right;
  animation: flip-expand 3s forwards, change-color 3s forwards,
    expand 3s 3s forwards;
  overflow: hidden;
}
.square-flip:after {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  content: "";
  display: block;
  padding-bottom: 100%;
}
/* .square-flip:before {*/
/*.landing-triangle {*/
/*content:'';*/
/*-ms-transform: rotate(35deg); !* IE 9 *!*/
/*-webkit-transform: rotate(35deg); !* Safari *!*/
/*transform: rotate(35deg);*/
/*position: absolute;*/
/*height: 500px;*/
/*width: 500px;*/
/*background: black;*/
/*!*animation: grow 3s linear infinite;*!*/
/*z-index: 0;*/
/*} */
@keyframes flip-expand {
  25% {
    transform-origin: right;
    animation-mode: forwards;
    transform: rotateY(-180deg);
    delay: 500ms;
  }
  25.001% {
    transform-origin: bottom;
    transform: translateX(100%);
  }
  50% {
    transform-origin: bottom;
    transform: translateX(100%) rotateX(-180deg);
  }
  50.001% {
    transform-origin: left;
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform-origin: left;
    transform-origin: left;
    transform: translateX(100%) translateY(100%) rotateY(180deg);
  }
  75.001% {
    transform-origin: top;
    transform: translateY(100%);
  }
  100% {
    transform-origin: top;
    transform: translateY(100%) rotateX(180deg);
  }
}
@keyframes change-color {
  0% {
    background: black;
  }
  25% {
    background: black;
  }
  50% {
    background: black;
  }
  75% {
    background: black;
  }
  100% {
    background: #e6e6e6;
  }
}
@keyframes expand {
  from {
    transform: scale(1);
    transform-origin: top left;
  }
  to {
    transform: scale(2);
    transform-origin: top left;
  }
}
@keyframes reveal {
  from {
    color: rgba(0, 0, 0, 0);
  }
  to {
    color: black;
  }
}
@keyframes reveal-border {
  from {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  to {
    border: 1px solid rgba(0, 0, 0, 1);
  }
}
@keyframes slide-off-right {
  from {
    transform: translateX(0px);
    color: black;
  }
  to {
    transform: translateX(100px);
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes slide-off-left {
  from {
    transform: translateX(0px);
    color: black;
  }
  to {
    transform: translateX(-100px);
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(-100px);
    color: rgba(0, 0, 0, 0);
  }
  to {
    transform: translateX(0px);
    color: black;
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(100px);
    color: rgba(0, 0, 0, 0);
  }
  to {
    transform: translateX(0px);
    color: black;
  }
}
/* @keyframes rainbow-shadow {
    100% {text-shadow: 0 0 3px #ff0000;}
    90% {text-shadow: 0 0 3px #ff3000;}
    85% {text-shadow: 0 0 3px  #ff8000;}
    80% {text-shadow: 0 0 3px  #ffb200;}
    75% {text-shadow: 0 0 3px  #ffff00;}
    70% {text-shadow: 0 0 3px  #c9ff00;}
    65% {text-shadow: 0 0 3px  #80ff00;}
    60% {text-shadow: 0 0 3px  #00ff00;}
    50% {text-shadow: 0 0 3px  #00ff80;}
    45% {text-shadow: 0 0 3px  #00ffc3;}
    40% {text-shadow: 0 0 3px  #00d9ff;}
    35% {text-shadow: 0 0 3px  #0080ff;}
    30% {text-shadow: 0 0 3px  #0054ff;}
    25% {text-shadow: 0 0 3px  #0019ff;}
    20% {text-shadow: 0 0 3px  #3200ff;}
    15% {text-shadow: 0 0 3px  #6700ff;}
    10% {text-shadow: 0 0 3px  #a100ff;}
    0% {text-shadow: 0 0 3px  #ff0059;}
  }
  @keyframes rainbow-border {
    100% {border-color: #ff0000;}
    90% {border-color: #ff3000;}
    85% {border-color: #ff8000;}
    80% {border-color: #ffb200;}
    75% {border-color: #ffff00;}
    70% {border-color: #c9ff00;}
    65% {border-color: #80ff00;}
    60% {border-color: #00ff00;}
    50% {border-color: #00ff80;}
    45% {border-color: #00ffc3;}
    40% {border-color: #00d9ff;}
    35% {border-color: #0080ff;}
    30% {border-color: #0054ff;}
    25% {border-color: #0019ff;}
    20% {border-color: #3200ff;}
    15% {border-color: #6700ff;}
    10% {border-color: #a100ff;}
    0% {border-color: #ff0059;}
  }
  @keyframes grey-shimmer {
      0% {border-color: rgb(63, 56, 56)}
      10% {border-color: rgb(92, 81, 81)}
      20% {border-color: rgb(107, 96, 96)}
      30% {border-color: rgb(161, 142, 142)}
      40% {border-color: rgb(187, 172, 172)}
      50% {border-color: rgb(187, 175, 175)}
      60% {border-color: rgb(187, 172, 172)}
      70% {border-color: rgb(161, 142, 142)}
      80% {border-color: rgb(121, 108, 108)}
      90% {border-color: rgb(92, 81, 81)}
      100% {border-color: rgb(92, 81, 81)}
  } */
